@import '../../../main.scss';


.menuCont {
  min-width: 30vw;
}

.menuSettings {
  @extend .flex, .centerRow;

  .menuButtons {
    border:1px solid rgb(0, 36, 128);
    padding: 10px 20px;
    border-radius: 10px;
    margin: 0 2px;
    &:hover{
      background-color: rgba(0, 36, 128,0.4);
    }
  }
  
  .menuSelected {
    @extend .menuButtons;
    background-color: rgb(0, 36, 128);
  }
}

.ingCont{
  @extend .flex;
  max-width: 30vw;
  flex-wrap: wrap;

  .ing{
    padding: 5px 5px 5px 10px;
    background-color: grey;
    border-radius: 5px;
    margin: 2px;
  }
  
  .delIng{
    font-size: 10px;
    margin-left:5px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
  }
}

.dateCard {
  border: 2px solid red;

  .mealCard {
    border: 2px solid blue;
  }
}