@import '../../../main.scss';

.formField {
  margin: 10px 0;

  label {
    width: 100%;
    display: block;
    margin-bottom: 2px;
  }

  input, textarea, select {
    background-color:rgb(201, 201, 201);
    width: 100%;
    outline: none;
    border: none;
  }

  input {
    height: 18px;
  }

  textarea{
    min-height: 80px;
  }

}
