body {
  margin: 0;
  background: #171717;
  color: white;
  font-family: 'Lexend', sans-serif;
}

.right {
  @extend .flex, .flex-grow;
  flex-direction: column;
}

.content {
  @extend .flex, .flex-grow;
  padding: 5px 10px;
}

//------------

.fp {
  width: 100vw;
  height: 100vh;
}

.fw {
  width: 100%;
}

.border{ 
  border: 2px solid red;
}


.cl {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cr {
  @extend .cl;
  flex-direction: row;
}

.centerText{
  text-align: center;
}

.flex-grow {
  flex-grow: 1;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap
}

.pointer {
  cursor: pointer;
}

.absolute {
  position: absolute;
}


.capitalize {
&:first-letter {
  text-transform:capitalize;
}
}

.box {
  h1 {
    font-size: 15px;
  }
  border: 1px solid rgb(5, 5, 174);
  border-radius: 5%;
  padding: 15px;
}

.fri{
  float: right;
}


