body {
  margin: 0;
  background: #171717;
  color: white;
  font-family: 'Lexend', sans-serif;
}

.fp {
  width: 100vw;
  height: 100vh;
}

.fw {
  width: 100%;
}

.centerCol {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.centerRow {
  @extend .centerCol;
  flex-direction: row;
}

.centerText{
  text-align: center;
}

.flex-grow {
  flex-grow: 1;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap
}

.right {
  @extend .flex, .flex-grow;
  flex-direction: column;
}

.content {
  @extend .flex, .flex-grow;
  padding: 5px 10px;
}

.capitalize {
&:first-letter {
  text-transform:capitalize;
}
}

.box {
  h1 {
    font-size: 15px;
  }
  border: 1px solid rgb(5, 5, 174);
  border-radius: 5%;
  padding: 15px;
}

.f-right{
  float: right;
}

.formField {
  margin: 10px 10px;

  label {
    display: block;
    margin-bottom: 2px;
  }

  input, textarea {
    background-color:rgb(201, 201, 201);
    width: 100%;
    outline: none;
    border: none;
  }

  input {
    height: 18px;
  }

  textarea{
    min-height: 80px;
  }

}